<!--The content below is only a placeholder and can be replaced.-->
<!-- ##### BEGIN TOP NAVIGATION ########-->
<mat-toolbar class="menu" role="header" color="primary">
    <mat-toolbar-row>
      <button mat-button class="toolbar__icon-button mat-button">
        
        <span style="margin-left: 5px !important;">WEB 425</span>
      </button>
      <button mat-button class="mat-button">
        About
      </button>
      <button mat-button class="mat-button">
        Contact Us
      </button>
  
      <div fxFlex></div>
  
      
      
    </mat-toolbar-row>
  </mat-toolbar>
  <br />
  <br />
  <br />
  <br />
  <!-- Side Nav Container with Class -->
<mat-sidenav-container>
  <mat-sidenav class="left" mode="side" opened>
    Side
  </mat-sidenav>
  <mat-sidenav-content class="right">
    Main content
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- ##### END TOP NAVIGATION ########-->

<!-- ##### BEGIN SIDE NAVIGATIONS ########-->
<!-- MD Drawer
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container>
<router-outlet></router-outlet>
-->




<!-- Side Nav Container
<mat-sidenav-container>
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav-content>Main</mat-sidenav-content>
  <mat-sidenav-content>Main2</mat-sidenav-content>
</mat-sidenav-container>
-->

<!-- Flex Layout Columns and Rows
<div fxLayout="row">
    <div class="left">
      <div fxLayout="column">
        <div>1. One</div>
        <div>2. Two</div>
        <div>3. Three</div>
      </div>
    </div>
    <div class="right">2. Two</div> 
</div>
-->

<!-- ##### END SIDE NAVIGATIONS ########-->