<!--The content below is only a placeholder and can be replaced.-->
<!--
    /*
============================================
; Title: Assignment 6.2
; Author: Donald Cousar
; Date: 18 August 2019
; Description: Component Communications - Input Properties
;===========================================
*/
-->
<!-- ##### BEGIN TOP NAVIGATION ########-->
<mat-toolbar class="menu" role="header" color="primary">
        <mat-toolbar-row>
          <button mat-button class="toolbar__icon-button mat-button">
            
            <span style="margin-left: 5px !important;">WEB 425</span>
          </button>
          <button mat-button class="mat-button">
            About
          </button>
          <button mat-button class="mat-button">
            Contact Us
          </button>
      
          <div fxFlex></div>
      
          
          
        </mat-toolbar-row>
      </mat-toolbar>
      <br />
      <br />
      <br />
      <br />
      <!-- Side Nav Container with Class -->
    <mat-sidenav-container>
      <mat-sidenav class="left" mode="side" opened>
        
      </mat-sidenav>
      <mat-sidenav-content class="right">
            <!-- BEGIN Main Section-->
            <input type="text" placeholder="Enter stock (e.g. AAPL)" (change)="onChangeEvent($event)" >
            <br /><br />
            <app-order [stockSymbol]="stock" [quantity]="numberOfShares"></app-order> 
            <!-- END Main Section-->
      </mat-sidenav-content>
    </mat-sidenav-container>


<router-outlet></router-outlet>
